/*-------------- reservations-----------*/
.Hero-reservations-container{
    background-image: url("../../../images/Alice.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    position: relative; 
    }
    .Hero-reservations-container h1{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      z-index: 10;  
      font-family:Cormorant;
      font-size: 5rem;
    }
    
    .Tea-cup-container{
      background-image: url("../../../images/block.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    position: relative; 
    }
    
    .tea-cup-container-content {
      position: absolute;
      top:70%;
      left:50%;
      transform: translate(-50%, -50%);
      color: var(--white);
      z-index: 10; 
     
    }
    .tea-cup-container-content h1{
      color: var(--white);
      font-size: 88px; 
      text-align: center;
      font-family:Cormorant;
    }
    .tea-cup-container-content p {
      color: var(--white);
      font-size: 28px;
      text-align: center;
      font-family:Roboto ;
    }
    
    
    @media(min-width: 768px) and (max-width: 992px){
     .Hero-reservations-container {
      background-position: center;
      height: 40vh;
     }

    .Hero-reservations-container h1{
font-size: 6rem;
     }
     .Tea-cup-container{
      background-position: center;
      height: 50vh;
     
     }
     .tea-cup-container-content{
      top: 50%;
      padding: 5rem;
     }
     .tea-cup-container-content h1{
      font-size: 5rem;
     }
     .tea-cup-container-content p{
      font-size: 1.8rem;
      justify-content: center;
      margin-bottom: 2rem;
     }
     .tea-cup-container-content button{
      width:170px;
      margin-top: 1rem;
     }


    }