/* Nav Styling */




/* navlink is the Link */

/* 1rem: 16px */
.navbar {
  padding: 1rem 2.5rem;

}

.nav-link {
  color:white;
  margin: 0 8px;
  text-decoration: none;
}

.hero-img {
  width: 100%;
  height: 91vh;
}
/* container*/
.section-container{
  display: grid;
  
}

/* Reusable Classes */
.d-grid{
  display: grid;
}

.d-flex {
  display:flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}


.bg-sage {
  background-color: #86907D;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #0F0F0F;
}


/*footer*/

.container-section-2{
justify-content: space-between;
margin-left: 150px;
margin-right: 150px;
padding: 1rem 2.5rem;

}
.container-section-1{
  justify-content: space-around;
  
}